{% extends "overall/block-base.twig" %}

{% block block %}

<div class="banner-section {% if fields.class %}{{ fields.class }}{% endif %}" {% if fields.id %} id="{{ fields.id }}" {% endif %}>
    <div class="banner-inner">
    {% if fields.decor %}
        <svg class="banner-decor" viewBox="0 0 1756.5 1137.8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="banner_svg svg" d="M67.6,2C19.1,38.3-3.8,101.7,4,161c8.1,61.4,50.7,110.3,109.4,129c56.7,18.1,124.1,8,166.7-35.6
                c39.9-40.8,57.6-113.2,9.9-155.5c-40.3-35.8-110.8-35.2-147.5,5.3c-36.7,40.5-33.9,105.4-3.8,148.9c37.9,54.8,110.9,61.2,171.4,53.6
                c73.4-9,149.5-40.3,223.4-17.6c58.3,17.9,104.9,66.1,125.9,122.8c10.7,28.4,14.2,58.9,10.1,89c-4.7,32.7-22.7,67.1-52,84.1
                c-32.6,18.9-69.2,4-86.7-27.8c-19.3-35-11.8-76.6-3.6-113.6c15.8-70.7,42.7-146.2,101.4-192.6c52-41,129.8-57.2,186.3-15.6
                c64.1,47.1,73.7,134,61.9,206.9c-6.4,39.5-17.8,78.2-28.8,116.6C836.9,598,825.4,637,816,676.6c-17.7,75.1-27.5,153-12.1,229.4
                c14.4,71.6,50.8,139.1,112.9,180c57.8,38.1,128.8,51.2,197.1,49.1c85.3-2.5,168.5-26.2,250.9-46.4l264.3-64.8l126.7-31.1"/>
        </svg>
    {% endif %}

        <div class="banner-logo">
            {% include "overall/logo.twig" %}
        </div>

    {% if fields.title is defined and fields.title %}
        <h3 class="banner-title">{{ fields.title }}</h3>
    {% endif %}

    {% if fields.content is defined and fields.content %}
        <div class="typo">
            {{ fields.content|raw }}
        </div>
    {% endif %}
    </div>
</div>

{% endblock %}
