{% extends "overall/block-base.twig" %}

{% block block %}

<div class="slider-section {% if fields.class %}{{ fields.class }}{% endif %}">
    <div class="slider-inner">
    {% if fields.slides is defined and fields.slides %}
        <div class="swiper slider">
            <div class="swiper-wrapper">
            {% for slide in fields.slides %}
                <div class="swiper-slide slider-slide">
                    {% include 'overall/comment.twig' with slide %}
                </div>
            {% endfor %}
            </div>
        </div>

        <div class="slider-nav">
            <button class="review-toggler" type="button" aria-label="Toggle review popup">
                <span>Leave feedback</span>
            </button>

            <div class="swiper-pagination bullets"></div>
            <div class="swiper-button-prev prev"></div>
            <div class="swiper-button-next next"></div>
        </div>
    {% endif %}

    {% if fields.decor %}
        <svg class="slider-decor">
            <use href={{ decor_sprite }}#slider_svg></use>
        </svg>
    {% endif %}
    </div>
</div>

{% endblock %}
