@use '../../mixins' as *;

.banner-section {
	position: relative;
	background-image: url('../../../img/hero-1.webp');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1440px 100%;
	padding-inline: var(--block-side-padding);
	@media (max-width: 1024px) {
		background-position: center right 10%;
		background-size: cover;
	}
	@media (max-width: 768px) {
		background-position: center right 40%;
	}

	.banner-inner {
		position: relative;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		max-width: var(--primary-block-width);
		color: var(--color-white);
		margin-inline: auto;
		padding-block: 120px;
		@media (max-width: 1024px) {
			padding-block: 40px;
		}
		@media (max-width: 768px) {
			padding-block: 30px;
		}

		&:before {
			position: absolute;
			right: -141px;
			bottom: 0;
			left: -141px;
			display: block;
			height: 50%;
			content: '';
			background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
			z-index: 90;
			@media (max-width: 1024px) {
				right: -40px;
				left: -40px;
			}
		}
	}

	.banner-logo {
		margin-bottom: 300px;
		@media (max-width: 1024px) {
			margin-bottom: 210px;
		}
	}

	.banner-title {
		font-size: var(--xl-font-size);
		font-weight: 500;
		line-height: 1.1;
		max-width: 950px;
		margin-bottom: 20px;
		z-index: 100;
	}

	.typo {
		font-size: var(--xs-font-size);
		font-weight: 400;
		max-width: 350px;
		z-index: 100;
		@media (max-width: 768px) {
			max-width: 280px;
		}
	}

	.banner-decor{
		position: absolute;
		z-index: 80;
		color: var(--color-accent);
		top: -10%;
		left: -20%;

		@media (max-width: 1024px) {
			display: none;
		}
	}
}
