@use '../../mixins' as *;

.cards-section{
    padding-inline: var(--block-side-padding);
	color: var(--color-white);

    .cards-inner{
        max-width: var(--primary-block-width);
        margin-inline: auto;
	    display: flex;
	    align-items: stretch;
	    gap : 20px;
	    position: relative;

	    @media (max-width: 1024px){
		    flex-direction: column;
	    }
    }
	.cards-decor{
		position: absolute;
		color: var(--color-accent);
		top: 50%;
		left:  -15%;
		rotate: -99deg;
		z-index: 1;
		scale:  2;
		width : 20%;
		height: auto;

		.cards_svg {
			fill: none;
			stroke: currentColor;
			stroke-linecap: round;
			stroke-width: 5;
			stroke-miterlimit: 10;
			stroke-dasharray: 3000;
			stroke-dashoffset: -3000;
		}

		@media (max-width: 1024px){
			display: none;
		}
	}

    .card{
		flex : 1;
	    border-radius: 15px;
	    overflow: hidden;
	    position: relative;
	    display: flex;
	    z-index: auto;
	    background: #0e0e0e;

	    &-article{
		    flex: 1;
		    display: flex;
		    flex-direction: column;
		    justify-content: flex-end;
		    gap: 10px;
		    color: var(--color-white);
		    padding: clamp(30px, 3.9vw, 60px);
		    aspect-ratio: 1/1;

		    .card-title{
			    font-weight: 600;
			    font-size: var(--m-font-size);
			    line-height: 1.2;
		    }

		    .typo{
			    line-height: 1.7;
		    }
	    }

	    &-img{
		    overflow: hidden;
		    position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;

		    img{
			    display: block;
			    width: 100%;
			    height: 100%;
			    mix-blend-mode: lighten;
		    }
	    }

	    &:nth-of-type(1){
		    .card-img{
			    img{
				    object-fit: contain;
				    object-position: top center;
			    }
		    }
	    }

	    &:nth-of-type(2){
		    .card-img{
				img{
					object-fit: cover;
				}
		    }
	    }

	    @media (max-width: 768px){
		    flex-direction: column;
		    background-color: transparent;
		    gap: 15px;

		    &-article{
			    aspect-ratio: auto;
			    padding: 0;
		    }
		    &-img{
			    background: #0e0e0e;
			    aspect-ratio: 1;
			    position: relative;
			    border-radius: 15px;

			    img{
				    object-position: top center;
				    object-fit: cover !important;
			    }
		    }
	    }
    }
}
