@use '../../mixins' as *;

.hero-2-section {
	padding-inline: var(--block-side-padding);

	.hero-2-inner {
		position: relative;
		max-width: var(--primary-block-width);
		margin-bottom: 50px;
		animation: slideUp .4s ease both 0.2s;
		color: var(--color);
		margin-inline: auto;
		@media (max-width: 768px) {
			display: flex;
			flex-direction: column;
			.hero-2-article {
				position: relative;
			}
		}
	}

	.hero-2-slider {
		position: relative;
		z-index: -1;
		top: 0;
		right: 0;
		bottom: 0;
		display: flex;

		.hero-slide {
			position: relative;
			margin-top: -25%;
			transform-origin: 50%;
			color: var(--color-accent);
			@media (max-width: 768px) {
				margin-top: -10%;
				transform-origin: 0 100%;
			}

			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: center;
			}

			&:nth-child(1) {
				display: block;
				animation: slide-left .1s ease both;
				@media (max-width: 768px) {
					animation: slide-left-mob .1s ease both;
				}
			}

			&:nth-child(2) {
				display: none;
				animation: slide-right .3s ease both;
				@media (max-width: 768px) {
					animation: slide-right-mob .3s ease both;
				}
			}
		}

		svg {
			position: absolute;
			top: 32%;
			left: 21.1%;
			width: 60%;
			height: 60%;
		}
	}

	.hero-2-article {
		font-weight: 600;
		position: absolute;
		top: 0;
		max-width: 80%;
		@media (max-width: 768px) {
			max-width: 100%;
		}

		.hero-title {
			font-size: var(--xxl-font-size);
			line-height: 1;
			margin-bottom: clamp(20px, 2vw, 30px);
			@media (max-width: 1024px) {
				color: var(--color-accent);
			}
		}

		.hero-description {
			font-size: var(--l-font-size);
			line-height: 1.2;
			max-width: 40%;
			margin-bottom: clamp(40px, 4.2vw, 60px);
			color: var(--color-accent);
			@media (max-width: 1024px) {
				color: var(--color);
			}
			@media (max-width: 768px) {
				max-width: 100%;
			}
		}

		.hero-actions {
			position: relative;
			display: flex;
			overflow: hidden;
			max-width: 220px;
			user-select: none;
			border: 1px solid var(--color-white);
			border-radius: 50px;
			@media (max-width: 768px) {
				margin-inline: auto;
			}

			input {
				display: none;
			}

			.hero-btn {
				font-size: 16px;
				font-weight: 700;
				line-height: 1;
				z-index: 2;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 50%;
				height: 54px;
				padding: 10px;
				cursor: pointer;
				transition: color 0.2s;
				text-transform: capitalize;
				color: var(--color-white);
				background: none;

				&:nth-of-type(2) {
					color: var(--color-black);
				}

				&:nth-of-type(3) {
					color: var(--color-white);
				}

				&:hover {
					color: var(--color-accent) !important;
				}
			}

			.thumb {
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				width: 50%;
				height: 100%;
				border-radius: 50px;
				background-color: var(--color-white);
				@include transition(all .2s ease);
			}

			&:hover {
				.hero-btn {
					color: var(--color-black);
				}

				.thumb {
					width: 100%;
				}
			}
		}
	}

	.hero-2-inner:has(input:checked) {
		.hero-2-article {
			.hero-actions {
				.thumb {
					left: 50%;
				}

				.hero-btn {
					&:nth-of-type(2) {
						color: var(--color-white);
					}

					&:nth-of-type(3) {
						color: var(--color-black);
					}
				}

				&:hover {
					.hero-btn {
						color: var(--color-black);
					}

					.thumb {
						left: 0;
						width: 100%;
					}
				}
			}
		}

		.hero-2-slider {
			.hero-slide {
				&:nth-child(2) {
					display: block;
					animation: slide-left .3s ease both;
					@media (max-width: 768px) {
						animation: slide-left-mob .3s ease both;
					}
				}

				&:nth-child(1) {
					display: none;
					animation: slide-right .1s ease both;
					@media (max-width: 768px) {
						animation: slide-right-mob .1s ease both;
					}
				}
			}
		}
	}
}