@use '../../mixins' as *;

.slider-section {
	color: var(--color-white);
	padding-inline: var(--block-side-padding);

	.slider-inner {
		max-width: var(--primary-block-width);
		margin-inline: auto;
		position: relative;
	}

	.slider {
		overflow: visible;
		margin-bottom: 20px;
		cursor: pointer;

		&-wrapper {
		}

		&-nav {
			position: relative;
			right: 0;
			bottom: 0;
			display: flex;
			align-items: center;
			flex-direction: row;
			justify-content: center;
			height: 54px;
			gap: 20px;

			.prev, .next {
				position: relative;
				top: 0;
				left: 0;
				flex-shrink: 0;
				width: 50px;
				height: 50px;
				margin-top: 0;
				@include transition(.2s background-color ease-in-out);
				padding: 12px;
				border-radius: 50px;
				background: var(--color-white);

				&:after {
					display: block;
					width: 10px;
					height: 10px;
					content: '';
					border-bottom: 3px solid var(--color-black);
					border-left: 3px solid var(--color-black);
					@include transition(.2s border-color ease-in-out);
				}

				&:hover {
					background: var(--color-accent);

					&:after {
						border-color: var(--color-white);
					}
				}

				&.prev {
					&:after {
						transform-origin: 60% 60%;
						rotate: 45deg;
					}
				}

				&.next {
					&:after {
						transform-origin: 40% 50%;
						rotate: -135deg;
					}
				}

				@media (max-width: 768px) {
					display: none;
				}
			}

			.bullets {
				position: relative;
				top: 0;
				left: 0;
				display: none;
				transform: translate(0);
			}

			.feedback-toggler {
				margin-right: auto;
			}

			@media (max-width: 768px) {
				flex-direction: column-reverse;
				justify-content: center;
				height: auto;
				.bullets {
					display: block;
					overflow: visible;

					.swiper-pagination-bullet {
						opacity: 0;
						scale: 0;
						margin-inline: 10px;
					}

					.swiper-pagination-bullet-active-main {
						opacity: 0.2;
						background-color: var(--color-white);
						scale: 1;
					}

					.swiper-pagination-bullet-active {
						opacity: 1;
					}
				}
			}
		}
	}

	.slider-slide {
		height: auto;
	}

	.comment {
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 30px;
		border-radius: 15px;
		background: #151515;
		@media (max-width: 768px) {
			padding: 20px;
		}

		&-title {
			font-size: var(--m-font-size);
			font-weight: 600;
			line-height: 1.2;
			text-transform: capitalize;
		}

		&-thumb {
			max-width: 100px;
			height: 3px;
			background: var(--color-accent);
			margin-block: 15px;
			@include transition(opacity 0.2s, background-color 0.2s);
		}

		.typo {
		}
	}

	.slider-decor{
		position: absolute;
		bottom: -10%;
		width: auto;
		height: 300px;
		left: -30%;
		scale : 1;
		color: var(--color-accent);
		rotate: -70deg;
		z-index: -1;

		.slider_svg {
			fill: none;
			stroke: currentColor;
			stroke-width: 5;
			stroke-miterlimit: 10;
			stroke-dasharray: 2000;
			stroke-dashoffset: -2000;
		}

		@media (max-width: 1024px) {
			display: none;
		}
	}
}
