@use '../../mixins' as *;

.tab-section {
	padding-inline: var(--block-side-padding);
	margin-bottom: 100px;

	.tab-inner {
		position: relative;
		max-width: var(--primary-block-width);
		color: var(--color-white);
		margin-inline: auto;

		input {
			display: none;
		}

		label {
			cursor: pointer;
		}
	}

	svg{
		position: absolute;
		width: 120%;
		top : 10%;
		left: -10%;
		z-index: -1;
		color: var(--color-accent);

		@media (max-width: 768px) {
			width: 100%;
			top : 0;
			left: 20%;
			scale: 1.5;
			z-index: -1;

		}
	}


	.tab {
		display: flex;
		margin-bottom: 20px;
		color: var(--color-white);

		&-label {
			display: flex;
			flex: 1;
			flex-direction: column;
		}

		&-title {
			font-size: var(--m-font-size);
			@include transition(opacity 0.2s);
		}

		&-thumb{
			height: 3px;
			background: var(--color-white);
			margin-block: 15px;
			@include transition(opacity 0.2s, background-color 0.2s);
		}

		.typo {
			font-size: var(--xs-font-size);
			@include transition(opacity 0.2s);
		}
	}

	.gallery {
		display: flex;

		&-label {
			overflow: hidden;
			flex: 1;
			border-radius: 15px;
			@include transition(all 0.2s);

			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
	}

	.desktop {
		display: block;

		.tab-title, .typo, .tab-thumb {
			opacity: 0.4;
		}

		.typo{
			padding-right: 20px;
		}

		.gallery-label {
			transform: scale(0.6);
			transform-origin: 50% 0;
		}

		&:has(#tab-1:checked) {
			.tab {
				label[for$='-1'] {
					.tab-title, .typo, .tab-thumb {
						opacity: 1;
					}
					.tab-thumb{
						background-color: var(--color-accent);
					}
				}
			}

			.gallery {
				label[for$='-1'] {
					margin-right: -50%;
					transform: scale(1);
				}

				label[for$='-2'] {
					transform: translateX(calc(80% + 10px)) scale(0.6);
				}

				label[for$='-3'] {
					transform: translateX(calc(40% + 20px)) scale(0.6);
				}
			}
		}

		&:has(#tab-2:checked) {
			.tab {
				label[for$='-2'] {
					.tab-title, .typo, .tab-thumb {
						opacity: 1;
					}
					.tab-thumb{
						background-color: var(--color-accent);
					}
				}
			}

			.gallery {
				label[for$='-1'] {
					transform: translateX(calc(-1 * 30% - 10px)) scale(0.6);
				}

				label[for$='-2'] {
					transform: scale(1);
					margin-inline: -25%;
				}

				label[for$='-3'] {
					transform: translateX(calc(30% + 10px)) scale(0.6);
				}
			}
		}

		&:has(#tab-3:checked) {
			.tab {
				label[for$='-3'] {
					.tab-title, .typo, .tab-thumb {
						opacity: 1;
					}
					.tab-thumb{
						background-color: var(--color-accent);
					}
				}
			}

			.gallery {
				label[for$='-1'] {
					transform: translateX(calc(-1 * 40% - 20px)) scale(0.6);
				}

				label[for$='-2'] {
					transform: translateX(calc(-1 * 80% - 10px)) scale(0.6);
				}

				label[for$='-3'] {
					margin-left: -50%;
					transform: scale(1);
				}
			}
		}

		@media (max-width: 768px) {
			display: none;
		}
	}

	.mobile {
		display: none;
		@media (max-width: 768px) {
			display: block;
		}

		.tab-thumb{
			background-color: var(--color-accent);
			width :20%;
			min-width : 150px;
		}

		.tab-title, {
			color: var(--color-accent);
		}

		.gallery-label {
			margin-block: 20px;
		}
	}
}
