@use '../../mixins' as *;

.text-section{
    padding-inline: var(--block-side-padding);
	color: var(--color-white);

	&.accented{
		color: var(--color-accent);
	}

    .text-inner{
        max-width: var(--primary-block-width);
        margin-inline: auto;
	    margin-bottom: 24px;
    }

    .text-title{
	    max-width: 850px;
        font-size: var(--xl-font-size);
        font-weight: 500;
	    line-height: 1;
    }


}
