@use '../../mixins' as *;

.text-section {
	color: var(--color-white);
	padding-inline: var(--block-side-padding);
	scroll-margin-top: var(--header-height);
	@media (max-width: 1024px) {
		scroll-margin-top: 20px;
	}

	&.accented {
		color: var(--color-accent);
		@media (max-width: 1024px) {
			color: var(--color-white);
		}
	}

	.text-inner {
		max-width: var(--primary-block-width);
		margin-bottom: 24px;
		margin-inline: auto;
	}

	.text-title {
		font-size: var(--xl-font-size);
		font-weight: 500;
		line-height: 1;
		max-width: 850px;
	}
}
