<div class="popupWrapper feedback-popup-wrapper">
    <div class="feedback-popup">

        <div class="popup-message">
            <p class="popup-message-title">
                Share your experience with us.
            </p>
        </div>

        <form class="form" novalidate>
            <div class="form-row">
                <div class="form-group">
                    <label for="feedback_name">Name</label>
                    <input type="text" id="feedback_name" name="name" placeholder="Your name" required>
                </div>
                <div class="form-group">
                    <label for="feedback_phone">Phone</label>
                    <input type="tel" id="feedback_phone" name="phone" placeholder="+3 800 000 00 00" required>
                </div>
            </div>
            <div class="form-group">
                <label for="feedback_message">Message</label>
                <textarea id="feedback_message" name="message" placeholder="Your message" required></textarea>
            </div>
            <div class="form-actions">

                {% include "overall/btn.twig" with {
                    class: 'close-feedback-popup',
                    button: {
                        type: 'button',
                        label: 'cancel feedback popup',
                        title: 'Cancel',
                    }
                }%}


                {% include "overall/btn.twig" with {
                    class: 'submit-feedback-popup',
                    button: {
                        type: 'submit',
                        label: 'submit feedback popup',
                        title: 'Send Feedback',
                    }
                }%}

            </div>
        </form>
    </div>
</div>
