<footer class="footer">
    <div class="footer-wrapper">
        <div class="footer-bottom">
            <p>&copy; {{ year }} {{ site.name }} | © 2010 - 2026 Xiaomi.</p>
        </div>
    </div>
</footer>
