<header class="header">
    <div class="header-wrapper">
        <div class="logo-on-page">
            <a href="/" class="custom-logo-link">
                <svg  class="logo-icon">
                    <use href="{{ svg_sprite }}#logo"></use>
                </svg>
            </a>
        </div>
        <nav class="desktop-nav">
            <ul id="primary-menu" class="menu">
                <li class="menu-item"><a href="#">About</a></li>
                <li class="menu-item"><a href="#">Appearance</a></li>
                <li class="menu-item"><a href="#">Security</a></li>
                <li class="menu-item"><a href="#">Reviews</a></li>
                <li class="menu-item"><a href="#">FAQ</a></li>
            </ul>
        </nav>
        <button class="menu-toggler" type="button" aria-label="Toggle navigation">
            <span></span>
        </button>
    </div>
</header>
