<nav class="mobile-nav">
    <ul class="menu">
        {% include "overall/menu-items.twig" %}
    </ul>

    {% include "overall/btn.twig" with {
        class: 'buy-toggler',
        button: {
            type: 'button',
            label: 'Toggle buy popup',
            title: 'Buy',
        }
    }%}
</nav>
